@define-color rosewater #dc8a78;
@define-color flamingo #dd7878;
@define-color pink #ea76cb;
@define-color mauve #8839ef;
@define-color red #d20f39;
@define-color maroon #e64553;
@define-color peach #fe640b;
@define-color yellow #df8e1d;
@define-color green #40a02b;
@define-color teal #179299;
@define-color sky #04a5e5;
@define-color sapphire #209fb5;
@define-color blue #1e66f5;
@define-color lavender #7287fd;
@define-color text #4c4f69;
@define-color subtext1 #5c5f77;
@define-color subtext0 #6c6f85;
@define-color overlay2 #7c7f93;
@define-color overlay1 #8c8fa1;
@define-color overlay0 #9ca0b0;
@define-color surface2 #acb0be;
@define-color surface1 #bcc0cc;
@define-color surface0 #ccd0da;
@define-color base #eff1f5;
@define-color mantle #e6e9ef;
@define-color crust #dce0e8;

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: @text;
}

window#waybar {
  background: @base;
}

/* Workspace Buttons */
#workspaces button label{
  color: @lavender;
  padding: 0 10px;
}
#workspaces button.active label {
  color: @base;
}
#workspaces button.active {
  background: @mauve;
}

#clock, #battery, #pulseaudio, #tray, #language, #weather, #cpu, #memory, #network {
  padding: 0 10px;
  margin: 0 10px;
}

#language {
  margin: 0;
  color: @rosewater;
  border-bottom: 5px solid @rosewater;
}

#custom-weather {
  margin: 0;
  color: @flamingo;
  border-bottom: 5px solid @flamingo
}

#pulseaudio {
  margin: 0;
  color: @peach;
  border-bottom: 5px solid @peach;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: @red;
  border-bottom: 5px solid @red;
}

#cpu {
  margin: 0;
  color: @mauve;
  border-bottom: 5px solid @mauve;
}

#memory {
  margin: 0;
  color: @maroon;
  border-bottom: 5px solid @maroon;
}

#network {
  margin: 0;
  color: @green;
  border-bottom: 5px solid @green;
}

#battery {
  margin: 0;
  color: @teal;
  border-bottom: 5px solid @teal;
}

#clock {
  margin: 0;
  color: @sky;
  border-bottom: 5px solid @sky;
}


#tray {
  margin: 0;
  color: @lavender;
  border-bottom: 5px solid @lavender;
}
